.modal.logo .modal-content {
  background: #00ff2a;
}

.modal.site1 .modal-content {
  background: #1900ff;
}

.projeto-modal h2 {
  margin-bottom: 10px;
}

.projeto-modal p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.modal.site2 .modal-content {
  background: #f0fff4;
}

.modal.site2 h2 {
  color: #00a86b;
}

.modal.logo .modal-content {
  background: #eef3ff;
}

.modal.site1 .modal-content {
  background: #1900ff;
}

.projeto-modal h2 {
  margin-bottom: 10px;
}

.projeto-modal p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.modal.site2 .modal-content {
  background: #f0fff4;
}

.modal.site2 h2 {
  color: #00a86b;
}

/* ----------------------------------------------- */
/* Configuração padrão para as fotos do grid */
.grid-projeto .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ----------------------------------------------- */
/* ESTLO DO CARD 1 */

.grid-projeto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* altura das linhas */
.grid-projeto .item {
  min-height: 250px;
}

/* linha de baixo (ocupando 2 colunas cada) */
.i5 {
  grid-column: span 2;
}

.i5 {
  background: #ff0000; /* fundo leve */
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.i5 p {
  max-width: 450px;
  font-size: 15px;
  line-height: 1.7;
  color: #ffffff;
}

.i5 h2{
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 15px;
}

.i6 {
  grid-column: span 2;
}

.i6 {
  background: #000000; /* fundo leve */
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  gap: 5px;
}
.i6 p {
  max-width: 450px;
  font-size: 15px;
  line-height: 1.7;
  color: #ffffff;
}

/* ----------------------------------------------- */

.modal.agenda .modal-content {
  background: #ffa600;
}

/* 📱 celular */
@media (max-width: 768px) {
  .grid-projeto {
    grid-template-columns: 1fr;
  }

  @media (max-width: 768px) {
    .grid-projeto .item {
      min-height: 150px;
    }
  }

  .i5,
  .i6 {
    grid-column: auto;
  }
}

/* 💻 tablet */
@media (max-width: 1024px) {
  .grid-projeto {
    grid-template-columns: repeat(2, 1fr);
  }

  .i5,
  .i6 {
    grid-column: span 2; /* continuam grandes */
  }
}
